body h1 {
  color: white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 70px;
  margin-left: 110px;
  text-align: left; }

body h3 {
  color: white;
  font-family: "Montserrat";
  font-size: 21px;
  margin-left: 120px;
  text-align: left;
  margin-right: 160px;
  padding-bottom: 100px;
  font-weight: lighter; }

body h4 {
  color: #292534;
  family-font: "Montserrat";
  font-size: 13px;
  margin-left: 500px;
  font-weight: lighter;
  margin-top: -80px;
  margin-bottom: 30px; }

body .header-row {
  background-color: #0cb3f8;
  width: 100%;
  max-width: 1200px;
  margin-left: 300px; }

body .logo-circle, body .logo {
  padding-left: 60px;
  margin: 0 3px;
  margin-top: 60px; }

body .col-6 {
  margin-top: -40px; }

body .logo {
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  margin-left: -55px; }

body .container-hero {
  text-align: center; }

body .navigation {
  color: white;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
  margin: 0 4px;
  margin-left: -20px; }

body .download-btn {
  background: #0CB3F8;
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: bold;
  border-color: white;
  border-radius: 40px;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 180px;
  border-style: solid;
  margin: 0 2px;
  border-width: thin; }

body .apple-img, body .learn-btn {
  margin-left: 100px; }

body .apple-img {
  padding-right: 10px;
  padding-bottom: 5px;
  margin-left: -230px; }

body .learn-btn {
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-color: none;
  border-radius: 40px;
  border-style: none;
  background-color: #0CB3F8;
  color: white; }

body .bar {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 30px;
  margin-top: -80px;
  margin-bottom: 30px; }

body .new-btn {
  background-color: #0081ff;
  font-family: "Montserrat";
  font-size: 9px;
  color: white;
  border-radius: 40px;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 2px 10px #0081ff;
  margin-top: 10px;
  margin-left: 420px; }

body .col-12 {
  margin-right: -80px; }

body .row-content1 {
  background-color: #f5f4f4;
  width: 100%;
  max-width: 1200px;
  margin-left: 300px;
  margin-left: 0px;
  padding-bottom: 200px; }

body .text1 {
  color: #242526;
  font-size: 44px;
  margin-right: -400px;
  margin-top: 40px;
  padding-left: 300px;
  padding-top: 60px; }

body .iphone2 {
  margin-top: 30px;
  margin-right: 260px;
  margin-left: 450px; }

body .text-cont-1 {
  margin-right: 560px;
  margin-top: -120px;
  margin-right: 560px; }

body .text-cont-2 {
  margin-right: 560px;
  margin-bottom: 200px;
  margin-left: -20px; }

body h5 {
  font-size: 13px;
  font-family: "Montserrat";
  color: #747474;
  font-weight: bold;
  margin-top: 20px; }

body h2 {
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: bold;
  margin-top: 50px; }

body .col--sm-4 {
  margin-top: -650px;
  margin-left: 200px;
  margin-right: 300px; }

body .col--sm-9 {
  margin-top: -650px;
  padding-left: 900px;
  margin-right: -390px; }

body p {
  font-family: "Montserrat";
  text-align: center;
  margin-top: 20px;
  margin-right: -280px;
  padding-left: 380px;
  padding-right: 80px; }

body .container-pricing {
  width: 1200px;
  background-color: #242526;
  margin-left: 0px;
  margin-top: -80px;
  padding-bottom: 300px;
  margin-bottom: -6000px; }

body .pricing-title {
  font-size: 44px;
  margin-top: 90px;
  margin-left: 180px; }

body .pricing-text {
  font-family: "Montserrat";
  font-size: 16px;
  color: #bcc6d0;
  font-weight: lighter;
  margin-left: 177px;
  margin-right: 60px;
  text-align: center; }

body .container-basic {
  background-color: white;
  width: 300px;
  border-radius: 10px;
  padding-bottom: 62px;
  margin-left: -120px;
  margin-top: -100px; }

body .basic0 {
  font-family: "Montserrat";
  font-size: 12px;
  margin-top: 37px;
  margin-top: 50px;
  color: black;
  margin-left: -10px;
  padding-top: 10px; }

body .basic1 {
  font-family: "Montserrat";
  font-size: 48px;
  color: #242526;
  margin-top: 20px; }

body .basic2 {
  font-family: "Montserrat";
  color: #242526;
  font-size: 14px;
  margin-left: -70px;
  margin-top: 40px; }

body .ok1 {
  margin-left: -140px; }

body .ok2 {
  margin-left: -120px; }

body .get-started {
  border-radius: 40px;
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: bold;
  background-color: white;
  border-color: #0081ff;
  border-style: solid;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 60px; }

body .container-basic1 {
  background-color: #1b8bf9;
  width: 300px;
  border-radius: 10px;
  padding-bottom: 60px;
  margin-left: 270px;
  margin-top: -570px; }

body .try-now {
  background-color: white;
  border-radius: 40px;
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: bold;
  background-color: white;
  border-color: #0081ff;
  border-style: solid;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 60px; }

body .container-basic3 {
  background-color: white;
  width: 300px;
  border-radius: 10px;
  padding-bottom: 60px;
  margin-left: 650px;
  margin-top: -570px; }

body .row-bg {
  background-image: url(..//images/cliff.png);
  width: 1200px;
  margin-left: -192px;
  margin-top: 130px;
  padding-bottom: 450px;
  background-repeat: no-repeat; }

body .pic-text {
  margin-left: -90px; }

body input {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 50px;
  background-color: white;
  border-width: none;
  border-style: none;
  border-collapse: none;
  border-radius: 10px;
  opacity: 0.5;
  margin-top: -90px;
  margin-left: 120px; }

body .send {
  font-family: "Montserrat";
  color: #242525;
  font-size: 10px;
  padding-bottom: 15px;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 10px;
  margin-left: 350px;
  border-style: none;
  margin-left: 540px;
  margin-top: 20px; }

body .container-text-now {
  font-size: 44px;
  margin-top: 40px;
  padding-left: 295px;
  margin-right: -400px; }

body .footer-1 {
  width: 1200px;
  background-color: white;
  padding-top: 200px;
  margin-top: -400px;
  padding-bottom: 300px;
  margin-left: -192px; }

body .footer {
  color: #242526;
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: lighter;
  margin-top: -60px;
  margin-right: 850px; }

body .line {
  border-color: #bcc6d0;
  opacity: 0.2;
  margin-top: 40px; }

body .black-logo {
  margin-right: 800px;
  margin-left: -150px;
  margin-top: -260px; }

body a {
  color: #242526;
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: bold;
  margin: 0 10px; }

body .foot {
  margin-top: -250px; }

body .social-media {
  margin-left: 950px;
  margin-top: -90px; }

body .copyright {
  font-family: "Myriad Pro";
  font-size: 10px;
  font-kerning: 80;
  color: #242526;
  margin-top: 80px;
  margin-left: 390px; }
