

body {

  h1{
  color:white;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 70px;
  margin-left: 110px;
  text-align: left;

  }

  h3{
    color: white;
    font-family: "Montserrat";
    font-size: 21px;
    margin-left: 120px;
    text-align: left;
    margin-right: 160px;
    padding-bottom: 100px;
    font-weight: lighter;

  }

  h4{
    color: #292534;
    family-font:"Montserrat";
    font-size: 13px;
    margin-left: 500px;
    font-weight: lighter;
    margin-top: -80px;
    margin-bottom: 30px;


  }



.header-row{
  background-color: #0cb3f8;
  width: 100%;
  max-width: 1200px;
  margin-left: 300px;


}

.logo-circle, .logo{
padding-left: 60px;
  margin: 0 3px;
  margin-top: 60px;
}

.col-6 {
  margin-top: -40px;


}

.logo{
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  margin-left: -55px;
}

.container-hero{
  text-align: center;

}



.navigation{
  color: white;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: bold;
  margin: 0 4px;
  margin-left: -20px;
}


.download-btn{
  background: #0CB3F8;
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: bold;
  border-color: white;
  border-radius: 40px;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left:180px;
  border-style: solid;
  margin: 0 2px;
  border-width: thin;
}

.apple-img, .learn-btn{
  margin-left: 100px;
}

.apple-img{
  padding-right: 10px;
  padding-bottom: 5px;
  margin-left: -230px;
}

.learn-btn{
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-color: none;
  border-radius: 40px;
  border-style: none;
  background-color: #0CB3F8;
  color: white;
}

.bar{
  background-color: white;
  padding-top: 5px;
  padding-bottom: 30px;
  margin-top: -80px;
  margin-bottom: 30px;
}

.new-btn{
  background-color: #0081ff;
  font-family: "Montserrat";
  font-size: 9px;
  color: white;
  border-radius: 40px;
  border-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 2px 10px #0081ff;
  margin-top: 10px;
  margin-left: 420px;

  }

  .col-12{

  margin-right: -80px;

  }

  .row-content1{
    background-color: #f5f4f4;
    width: 100%;
    max-width: 1200px;
    margin-left: 300px;
    margin-left: 0px;
    padding-bottom: 200px;

  }

  .text1{
    color: #242526;
    font-size: 44px;
    margin-right: -400px;
    margin-top: 40px;
    padding-left:300px;
    padding-top: 60px;
  }

  .iphone2{
    margin-top: 30px;
    margin-right: 260px;
    margin-left: 450px;
  }

  .text-cont-1{
    margin-right: 560px;
    margin-top: -120px;
    margin-right:560px;

  }

  .text-cont-2{
    margin-right: 560px;
    margin-bottom: 200px;
    margin-left: -20px;

  }

h5{
  font-size: 13px;
  font-family: "Montserrat";
  color: #747474;
  font-weight: bold;
  margin-top: 20px;





}

h2{
  font-size: 13px;
  font-family: "Montserrat";
  font-weight: bold;
  margin-top: 50px;


}

 .col--sm-4{

   margin-top: -650px;
   margin-left: 200px;
   margin-right: 300px;

 }

 .col--sm-9{

   margin-top: -650px;
   padding-left: 900px;
   margin-right: -390px;



 }

 p{
   font-family: "Montserrat";
   text-align: center;
   margin-top: 20px;
   margin-right: -280px;
   padding-left: 380px;
   padding-right: 80px;
 }

 .container-pricing{
   width: 1200px;
   background-color: #242526;
   margin-left: 0px;
   margin-top: -80px;
   padding-bottom: 300px;
   margin-bottom: -6000px;

 }

 .pricing-title{
   font-size: 44px;
   margin-top: 90px;
   margin-left:180px;

 }
 .pricing-text{
   font-family: "Montserrat";
   font-size: 16px;
   color: #bcc6d0;
   font-weight: lighter;
   margin-left: 177px;
   margin-right: 60px;
   text-align:center;
 }

 .container-basic{
   background-color: white;
   width: 300px;
   border-radius: 10px;
   padding-bottom: 62px;
   margin-left: -120px;
   margin-top: -100px;

 }

 .basic0{
   font-family: "Montserrat";
   font-size: 12px;
   margin-top: 37px;
   margin-top: 50px;
   color: black;
   margin-left: -10px;
   padding-top: 10px;
 }
 .basic1{
   font-family: "Montserrat";
   font-size: 48px;
   color: #242526;
   margin-top: 20px;
 }

 .basic2{
   font-family: "Montserrat";
   color: #242526;
   font-size: 14px;
   margin-left: -70px;
   margin-top: 40px;


 }

 .ok1{
   margin-left: -140px;
 }

.ok2{
  margin-left: -120px;
}

.get-started{
  border-radius: 40px;
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: bold;
  background-color: white;
  border-color: #0081ff;
  border-style: solid;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 60px;

}

.container-basic1{

  background-color: #1b8bf9;
  width: 300px;
  border-radius: 10px;
  padding-bottom: 60px;
  margin-left: 270px;
  margin-top: -570px;

}
.try-now{
  background-color: white;
  border-radius: 40px;
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: bold;
  background-color: white;
  border-color: #0081ff;
  border-style: solid;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 60px;
}

.container-basic3{
  background-color: white;
  width: 300px;
  border-radius: 10px;
  padding-bottom: 60px;
  margin-left: 650px;
  margin-top: -570px;

 }

 .row-bg{

   background-image: url(..//images/cliff.png);
   width:1200px;
   margin-left: -192px;
   margin-top: 130px;
   padding-bottom: 450px;

   background-repeat: no-repeat;

 }
 .pic-text{
   margin-left: -90px;


 }


 input{
   padding-top: 10px;
   padding-bottom: 15px;
   padding-left: 19px;
   padding-right:50px;
   background-color: white;
   border-width: none;
   border-style: none;
   border-collapse: none;
   border-radius: 10px;
   opacity: 0.5;
   margin-top: -90px;
   margin-left: 120px;



 }
 .send{
   font-family: "Montserrat";
   color: #242525;
   font-size: 10px;
   padding-bottom: 15px;
   padding-top: 20px;
   padding-left: 60px;
   padding-right: 60px;
   border-radius: 10px;
   margin-left: 350px;
   border-style: none;
   margin-left: 540px;
   margin-top: 20px;



 }

 .container-text-now{
   font-size: 44px;
   margin-top: 40px;
   padding-left: 295px;
   margin-right: -400px;

  }
 .footer-1{
   width: 1200px;
   background-color: white;
   padding-top: 200px;
   margin-top: -400px;
   padding-bottom: 300px;
   margin-left: -192px;
 }

 .footer{
   color: #242526;
   font-family: "Montserrat";
   font-size: 11px;
   font-weight:lighter;
   margin-top: -60px;
   margin-right: 850px;


  }

  .line{
    border-color: #bcc6d0;
    opacity: 0.2;
    margin-top: 40px;

  }

  .black-logo{
    margin-right: 800px;
    margin-left: -150px;
    margin-top: -260px;

  }

  a {
    color:#242526 ;
    font-family: "Montserrat";
    font-size: 11px;
    font-weight: bold;
    margin: 0 10px;

  }

  .foot{
    margin-top: -250px;
  }

  .social-media{
    margin-left: 950px;
    margin-top: -90px;
  }

  .copyright{
    font-family: "Myriad Pro";
    font-size: 10px;
    font-kerning: 80;
    color: #242526;
    margin-top: 80px;
    margin-left: 390px;
  }


}
